* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custombg {
    background-image: url('img/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #131314;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.menu-bar {
    width: 100vw;
    height: 30px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131313;
    overflow: hidden;
    color: #adadad;
    font-size: 0.9rem;
    font-weight: 600;
}

.menu-bar>div:first-child {
    -webkit-app-region: drag;
}

.menu-bar img {
    width: 30px;
    height: 30px;
}

.menu-bar>div {
    display: flex;
    align-items: center;
}

.menu-bar>div>button {
    cursor: pointer;
}

.menu-bar>div>button>i {
    color: #adadad;
    font-size: 0.8rem;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.glass {
    background: #57575733;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.backdropBlur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

}

input[type="text"] {
    color: white;
    background-color: #57575733;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2c2c2c;
    border: 2px solid #3a3a3a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.color {
    /* Gradient Color */
    background: linear-gradient(90deg, #2a7fe0, #5d30ff);
    font-weight: 600;
}

button.icon {
    padding: 3px;
    background-color: transparent;
    margin: 0 5px;
    font-size: 1.2rem;
    border: none;
}

button.icon>* {
    transition: color 0.2s ease-in-out;
}

button.pointer {
    cursor: pointer;
}

button.pointer:hover>* {
    color: #adadad;
}

button.outline {
    background-color: transparent;
    border: 2px solid #2c2c2c;
}

nav {
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

hr {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #2f27ce;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

select {
    background-color: #57575733;
    color: white;
    width: 95%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
}

select>option {
    background-color: rgb(46, 46, 46);
    color: white;
}

/* width */
select::-webkit-scrollbar {
    width: 10px;
}

/* Track */
select::-webkit-scrollbar-track {
    background: rgb(46, 46, 46);
}

/* Handle */
select::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
    background: #555;
}


footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.hover-info {
    position: relative;
}

.hover-body {
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
    bottom: -20px;
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%);
    width: fit-content;
}

.hover-info:hover>.hover-body {
    bottom: -40px;
    opacity: 1;
    z-index: 1000;
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 5px 10px;
}

main>* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff00 #ffffff00;
}

main>*::-webkit-scrollbar {
    width: 16px;
}

main>*::-webkit-scrollbar-track {
    background: #ffffff00;
}

main>*::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 10px;
    border: 3px solid #ffffff00;
}

.profile {
    width: 150px;
    margin: 5px 2px;
}

.profile>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#rightClickMenu {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;
    min-width: 100px;
    background-color: #1d1b1b;
    padding: 8px 10px;

    transform: scale(0);
    transform-origin: top left;
}

#rightClickMenu.active {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

#rightClickMenu>.item>i {
    float: left;
    margin-right: 5px;
}

#rightClickMenu>.item {
    text-align: start;
    cursor: pointer;
    padding: 5px 0;
}